.wisc-101-map-container {
    display: block;
    width: calc(100vw - 400px);
    height: 80vh;
    margin: 0;
}

#wisc-101-map {
    height: 100%;
    border: 1px solid var(--color-dark);
}

.slider-container {
    position: relative;
    bottom: 96px;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background: transparent;
    padding-bottom: 25px;
    z-index: 999999;
    border-radius: 8px;
}

#slider-output {
    display: block;
    text-align: center;
    margin: 1px 0 14px 0;
    padding: 3px 15px 0 15px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 32px;
    font-weight: 500;
    background: rgba(0,0,0, 0.75);
    border-radius: 50px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 10px;
    background: rgba(0,0,0, 0.75);
    outline: none;
    border-radius: 15px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    background: #ED8065;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 34px;
    height: 34px;
    border-radius: 20px;
    background: #ED8065;
    cursor: pointer;
}

.marker-cluster-small {
    background-image: url("../img/clusterLt.png");
    background-color: rgba(242, 245, 240, 0.0);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    color: #fff;
    font-size: 14px;
    font-family: "Nimbus Sans L Bol", sans-serif;
}

.marker-cluster-small div {
    background-color: rgba(242, 245, 240, 0.0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 14px;
    align-items: center;
}

@media only screen and (max-width: 1250px) {
    .wisc-101-map-container {
        display: block;
        width: 100%;
        height: 750px;
        margin: 0;
    }

    #wisc-101-map {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1150px) {
    .wisc-101-map-container {
        display: block;
        width: 100%;
        height: 600px;
        margin: 0;
    }


}

