body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}
.dropdown {
    min-width: 15em;
    padding: 5px 10px 10px 10px;
    background-image: none;
    background-color: azure;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.dropdown h3 {
    margin: 5px 0px 0px 0px;
    text-align: center;
    font: 1.25em sans-serif;
}
/*the info box*/
#console {
    position: absolute;
    z-index: 1;
    margin: 10px 15px;
    width: 28%;
    min-width: 350px;
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    perspective: 1px;
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 12pt;
  }